<div class="logo_part">
  <div class="container">
    <a href="#"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/Vegan_b394b311-cc03-4900-a44b-b89d3f5f769b.png" alt="" border="0" /></a>
    <a href="#"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/Amazon.png" alt="" border="0" /></a>
    <a href="#"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/OF_G_Organic.png" alt="" border="0" /></a>
    <a href="#"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/Carbon_Neutral.png" alt="" border="0" /></a>
    <a href="#"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/Trusted_Shops_Gurantee.png" alt="" border="0" /></a>
    <a href="#"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/Yotpo_100_Certifed.png" alt="" border="0" /></a>
  </div>
</div>

<div class="product_part">
  <div class="container">
    <div class="row-fluid">      
      <div class="col-md-3">
        <h1>KEEPING IT <br>REAL</h1>
        <h4>ALL OUR PRODUCTS ARE</h4>
        <ul>
          <li><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/product_li_icon1.png" alt="" border="0" /> 100% plant based and cruelty free</li>
          <li><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/product_li_icon2.png" alt="" border="0" /> Male & Female specific</li>
          <li><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/product_li_icon3.png" alt="" border="0" /> Great taste with real food ingredients</li>
          <li><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/product_li_icon4.png" alt="" border="0" /> Made in the UK</li>
          <li><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/product_li_icon5.png" alt="" border="0" /> Organic and Vegan certified company</li>
          <li><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/product_li_icon6.png" alt="" border="0" /> Carbon neutral delivery</li>
        </ul>
      </div>
      <div class="col-md-9"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/all_products.png" alt="" border="0" /></div>
    </div>
    <div class="btn_start"><a href="https://www.vivolife.co.uk/pages/step-1" data-activator="#">Start here</a></div>
  </div>
</div>

<div class="guarantee_new">
  <div class="container">
    <div class="guarantee-container">
      <div class="stamp">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/money_30.png" class="money-back" alt="Guarantee">
      </div>
      <!-- /.stamp -->
      <div class="content">
        <h2>Trust Us</h2>
        <p class="cntnt">We believe in our products so much we offer a <span>30 day money back guarantee</span> on everything we sell. If this product doesn't meet your expectations, simply send it back to us for a full refund. No questions asked. </p>
        <div class="y_image">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_a.png" alt="">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_b.png" alt="">
        </div>
      </div>
      <!-- /.content -->
    
    </div>
  </div>
</div>

<div class="our_customre">
  <div class="container">
    <h3>WHAT OUR CUSTOMERS SAY</h3>
    <div id="carousel-W_O_CUST_SAY_HOME" class="carousel slide" data-ride="carousel">
      <ul class="carousel-inner" role="listbox">
        <li class="item active">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review1.jpg" alt="" border="0" />
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review2.jpg" alt="" border="0" />
        </li>
         <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review3.jpg" alt="" border="0" />
        </li>
         <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review4.jpg" alt="" border="0" />
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review5.jpg" alt="" border="0" />
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review6.jpg" alt="" border="0" />
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review7.jpg" alt="" border="0" />
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review8.jpg" alt="" border="0" />
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review9.jpg" alt="" border="0" />
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review10.jpg" alt="" border="0" />
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review11.jpg" alt="" border="0" />
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review12.jpg" alt="" border="0" />
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review13.jpg" alt="" border="0" />
        </li>
        <div class="btn_custo">
          <a class="btn_custo_left" href="#carousel-W_O_CUST_SAY_HOME" role="button" data-slide="prev"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon1.png" alt="" border="0" /></a>
          <a class="btn_custo_right" href="#carousel-W_O_CUST_SAY_HOME" role="button" data-slide="next"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon2.png" alt="" border="0" /></a>
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="pros_saying">
  <div class="container">
    <h3>What do you think of Vivo?</h3>
    <div id="carousel-W_T_PROS_SAY_HOME" class="carousel slide" data-ride="carousel">
      <ul class="carousel-inner" role="listbox">
        <li class="item active">
          <div class="pros_video"><iframe width="560" height="315" src="https://www.youtube.com/embed/FNOQqAuOBz4?ecver=1" frameborder="0" allowfullscreen></iframe></div>
        </li>
        <!--<li class="item">
          <div class="pros_video"><iframe width="560" height="315" src="https://www.youtube.com/embed/BJQ6gdsFeyE?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>
        </li>
        <div class="btn_pros_saying">
          <a class="pros_saying_left" href="#carousel-W_T_PROS_SAY_HOME" role="button" data-slide="prev"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon1.png" alt="" border="0" /></a>
          <a class="pros_saying_right" href="#carousel-W_T_PROS_SAY_HOME" role="button" data-slide="next"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon2.png" alt="" border="0" /></a>
        </div>-->
      </ul>
    </div>
  </div>
</div>

<div class="woman_part">
<div class="container">
  <div class="yellow_bg">
    <h1>JOIN OUR TRIBE</h1>
    <h2>We believe that EVERYBODY has the right to be strong, sexy, healthy, fearless and confident. And we believe that you don't have to sacrifice the earth to do so.</h2>
    <div class="woman_content">
      <h3>Join thousands of thriving people <br/>worldwide and get the following benefits:</h3>
      <div class="desktop_section">
        <ul class="wo_limain">
          <li>
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/wo_icon1.png" alt="" border="0" />
            <p>The world’s best plant based health and fitness products to help you look, feel and perform at your very best.
            </p>
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/wo_icon2.png" alt="" border="0" />
            <p>Access our best tips, guides, podcasts and recipes so you can upgrade your health with minimal time and effort.</p>
          </li>
        </ul>

        <ul>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/wo_icon3.png" alt="" border="0" />
            <p>100% guaranteed cruelty free, carbon neutral and plant based products to fuel your active lifestyle.</p>
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/wo_icon4.png" alt="" border="0" />
            <p>Earn money back on each purchase with the Vivo Rewards club.</p>
          </li>
          <li>
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/wo_icon5.png" alt="" border="0" />
            <p>Support our charity partner StreetGames with every purchase, to help inspire the next generation to be active and vibrant.</p>
          </li>
        </ul>
      </div>
      <div class="mobile_section hidden">
        <div id="carousel-J_O_Tribe" class="carousel slide" data-ride="carousel">
          <ul class="carousel-inner" role="listbox">
            <li class="item active">
              <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/wo_icon1.png" alt="" border="0" />
              <p>The world’s best plant based health and fitness products to help you look, feel and perform at your very best.</p>
            </li>
            <li class="item">
              <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/wo_icon2.png" alt="" border="0" />
              <p>Access our best tips, guides, podcasts and recipes so you can upgrade your health with minimal time and effort.</p>
            </li>
            <li class="item">
              <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/wo_icon3.png" alt="" border="0" />
              <p>100% guaranteed cruelty free, carbon neutral and plant based products to fuel your active lifestyle.</p>
            </li>
            <li class="item">
              <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/wo_icon4.png" alt="" border="0" />
              <p>Earn money back on each purchase with the Vivo Rewards club.</p>
            </li>
            <li class="item">
              <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/wo_icon5.png" alt="" border="0" />
              <p>Support our charity partner StreetGames with every purchase, to help inspire the next generation to be active and vibrant.</p>
            </li>
            <div class="btn_jo_tribe">
              <a class="jo_tribe_left" href="#carousel-J_O_Tribe" role="button" data-slide="prev"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon1.png" alt="" border="0" /></a>
              <a class="jo_tribe_right" href="#carousel-J_O_Tribe" role="button" data-slide="next"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon2.png" alt="" border="0" /></a>
            </div>
          </ul>
        </div>
      </div>
      <a href="https://www.vivolife.co.uk/pages/step-1" data-activator="#">Start here</a>
    </div> 
  </div>
</div>  
</div>

<div class="your_kicking_part">
  <h1>JOIN THE TRIBE ON INSTAGRAM @vivolifeuk</h1>
  <!-- SnapWidget -->
  <script src="https://snapwidget.com/js/snapwidget.js"></script>
  <iframe src="https://snapwidget.com/embed/373126" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; padding: 0 10%;"></iframe>
</div>



<div class="home_mission_section">

  <div class="our_mission_part">
    <div class="container">  
      <h1>OUR MISSION</h1>
      <h2>We believe that everybody has the right to be strong, sexy, healthy, fearless and confident.
        And we believe that you don't have to sacrifice the earth to do so.</h2>
      <h2>So we’ve made it our mission to make this as simple as possible.</h2>
      <h2>What’s more, we’ll give 20p of EVERY SALE to Streetgames charity to help change the lives of young people through the power of sports and fitness.</h2>
    </div>
  </div>


  <div class="home_sustain" data-parallax="scroll">
    <div class="container">
      <div class="image-container">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/clouds.png?14155632147365779531" class="clouds spin2" alt="Clouds">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/earth.png?14155632147365779531" class="earth spin" alt="Earth">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/charity-button2.png?14155632147365779531" alt="Charity" class="charity-icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/recycle-icon.png?14155632147365779531" alt="Recycling" class="recycle-icon">
        <div class="recyclable">
          <h3>Recyclable Packaging</h3>
          <p>Our packaging is 100% recyclable, BPA free, and delivered in eco-friendly delivery boxes.</p>
        </div>
        <!-- /.recyclable -->
        <div class="charity">
          <h3>We Give 20p Of Each Sale To StreetGames.</h3>

          <p>Helping to change the lives of young people through the power of sport.
            www.streetgames.org</p>
        </div>
        <!-- /.charity -->
      </div>
      <!-- /.image-container -->
    </div>
    <!-- /.container -->
    <div class="btn_start"><a href="https://www.vivolife.co.uk/pages/step-1" data-activator="#">Start Your journey here >></a></div>
  </div>
</div>