<!--product first section -->
<div class="maca_top">
	<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/page_thrive-her_top.png?14357695666293644532" alt="" border="0" />
</div>
<!--product intro section -->  
<section id="intro" class="intro vivo-animate">
	<div class="intro-content">
      <div class="container">
        <div class="intro-text">
          <p>STOP wasting time and money on endless supplements you don't <br/>need! <br> <br>Now you can get all your essential <span>vitamins</span>, <span>minerals, probiotics</span> <br/>and <span>superfoods</span> in one delicious tasting drink!</p>
          <img class="hide-right" src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_passion_new.png" alt="" >
        </div>
        <ul class="buy-btn-container">
          <li><span>30 DAY MONEY <br>BACK GUARANTEE</span> <img class="maca_passion_icon1" src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_black_icon1.png" alt="" border="0"></li>
          <li><a href="#add-item-form-first" title="" class="buy-btn opacity">BUY NOW</a></li>
          <li><img class="maca_passion_icon2" src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_black_icon2.png" alt="" border="0"><span class="maca_passion_icon2_span"> VERIFIED SECURE <br>CHECKOUT</span></li>
        </ul>
      </div>
    </div>
</section>

<!--product features section-->
<section id="features" class="features parallax-window organic_geletanised" data-parallax="scroll">
  <div class="features-inner">
    <div class="container">
	  <header>
		<h2>MAXIMISE YOUR ENERGY, ENHANCE YOUR FOCUS <br>AND BOOST YOUR MOOD IN JUST 30 SECONDS A DAY!</h2>
	  </header>
	  <div class="features-container">
		<div class="feature-icons">
		  <div class="icon-2 opacity">
			<div class="icon-content">
			  <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_parpel1.png" alt="Build" class="icon">
			  <h3>ENERGISE</h3>
			  <p>Powerful superfoods, vitamins and minerals for vibrant energy all day long.</p>
            </div>
          </div>
          <div class="icon-2 opacity">
            <div class="icon-content">
              <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_parpel2.png" alt="Perform" class="icon">
              <h3>FOCUS</h3>
              <p>Brain boosting gotu kola, B vitamins and vitamin D to enhance mental clarity.</p>
             </div>
          </div>
          <div class="icon-2 opacity">
            <div class="icon-content">
              <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_parpel3.png" alt="Recover" class="icon">
              <h3>PROTECT</h3>
              <p>Cutting edge immune support to boost your natural defences.</p>
            </div>
          </div>
        </div>
        <div class="feature-icons">
          <div class="icon-2 opacity">
			<div class="icon-content">
			  <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_parpel4.png" alt="Build" class="icon">
              <h3>DIGEST</h3>
              <p>10 billion probiotics per serving for optimum digestive wellness.</p>
            </div>
          </div>
          <div class="icon-2 opacity">
            <div class="icon-content">
              <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_parpel5.png" alt="Perform" class="icon">
              <h3>THRIVE</h3>
              <p>Female specific multi vitamin and mineral formula to help you THRIVE!</p>
            </div>
          </div>            
        </div>
      </div>
    </div>
  </div>
  <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_plate_new.png" alt="" class="palate">
  <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/lid_thrive1.png" alt="" class="lid_greeen">
</section>

<!--product free-from section-->
<section id="free-from" class="upgrade_any">
	<div class="container">
    	<div class="upgrade_any_icon">
      		<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_icon1.png" alt="" class="">
      		<h3>Vegan</h3>
		</div>
		<div class="upgrade_any_icon">
      		<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_icon2.png" alt="" class="">
      		<h3>Non GMO</h3>
		</div> 
		<div class="upgrade_any_icon">
			<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_icon3.png" alt="" class="">
        	<h3>Gluten Free</h3>
      	</div>
      	<div class="upgrade_any_icon">
        	<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_icon4.png" alt="" class="">
        	<h3>Soy Free</h3>
      	</div>
      	<div class="upgrade_any_icon">
	        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_icon5.png" alt="" class="">
    	    <h3>Paleo</h3>
      	</div>
      	<div class="upgrade_any_icon">
	        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_icon6.png" alt="" class="">
	        <h3>Raw</h3>
    	</div>
      	<div class="upgrade_any_icon">
        	<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_icon7.png" alt="" class="">
        	<h3>No Added Sugar</h3>
      	</div>
      	<div class="upgrade_any_icon">
        	<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/thrive_icon8.png" alt="" class="">
        	<h3>30 Day Supply</h3>
      	</div>
	</div>
</section>
  
<!--product whatis section -->
<section id="" class="whatis_organic" data-parallax="scroll">
	<div class="container">
		<header>
			<h2>WHAT’S INSIDE?</h2>
		</header>
		<div class="whatis_organic_content">
			<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/what_inside_main.png" alt="" class="">
        </div>        
	</div>
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/30day_supply.png" alt="" class="whatis_organic_mug">
</section>

<!--thrive box main section -->
<section id="" class="thrive_box_main" data-parallax="scroll">
	<div class="container">
		<div class="woman_multi thrive_box_full">
            <div class="content">
              <h3>Women’s Multivitamin <br />and Mineral Blend</h3>
              <p>An expertly formulated blend of vitamins and minerals to support optimal female health.</p>
            </div>
		</div>
       	<div class="new_zealand thrive_box_left thrive_box">
            <div class="content">
              <h3>Organic New Zealand <br>Wheatgrass</h3>
              <p>High in iron, vitamin c and folate, and contains every mineral known to man. Provides the antioxidant super-oxide dismutase, which has been proven to help slow the aging process.</p>
            </div>
       	</div>
      	<div class="indian thrive_box_right">
            <div class="content">
              <h3>Organic Indian <br>Moringa Leaf</h3>
              <p>Known worldwide as ‘The Miracle Tree’, moringa contains 47 known antioxidants, 4 times the calcium of milk, 3 times the potassium of bananas and 9 times the iron of spinach. Used as herbal medicine since ancient Egyptian times. </p>
            </div>
       	</div>
       	<div class="spirulina thrive_box_left  thrive_box">
            <div class="content">
              <h3>Organic <br>Spirulina</h3>
              <p>Contains over 65% protein, and is rich in iron, calcium and vitamin B12. Helps maintain healthy energy levels and a strong immune system.</p>
            </div>
       	</div>
      	<div class="baobab thrive_box_right  thrive_box">
            <div class="content">
              <h3>Organic Baobab <br>Fruit</h3>
              <p>Packed with antioxidants, vitamin C and soluble fibre, Baobab is a powerful energy booster and immune tonic. Known as ‘The Tree of Life’ in it’s native Africa. </p>
            </div>
       	</div>
      	<div class="gotu_kola thrive_box_full">
            <div class="content">
              <h3>Gotu <br>kola</h3>
              <p>A highly prised herb best known for its ability to improve brain power, memory and concentration. Also renowned as a ‘long life’ adaptogen in it’s native India for its ability to improve heart health and lower blood pressure. </p>
            </div>
       	</div>
      	<div class="lucuma_fruit thrive_box_left thrive_box">
            <div class="content">
              <h3>Organic <br>Lucuma Fruit</h3>
              <p>Rich in B Vitamins, iron and beta carotene. Highly prised in South America for it’s glorious butterscotch – caramel taste.</p>
            </div>
       	</div>
      	<div class="acai_berry thrive_box_right thrive_box">
            <div class="content">
              <h3>Organic <br>Acai Berry</h3>
              <p>Packed with vitamin c, essential fatty acids and more antioxidants than any fruit on the planet, acai is one of the most powerful superfoods for promoting healthy, glowing skin. Freeze dried within 12 hours of harvest for maximum nutritional potency.</p>
            </div>
       	</div>
      	<div class="camu_camu_berry thrive_box_left thrive_box">
            <div class="content">
              <h3>Organic <br>Camu Camu Berry</h3>
              <p>More vitamin C than any other food on the planet – approximately 60 times that of an orange! Also considered extremely beneficial for eye health due to the high content of lutein, beta-carotene and zeaxanthin.</p>
            </div>
       	</div>
      	<div class="organic_cracked thrive_box_right thrive_box">
            <div class="content">
              <h3>Organic Cracked <br>Cell Wall Chlorella</h3>
              <p>Binds to toxins and heavy metals and draws them out of the body. Amazing for skin and digestive health.</p>
            </div>
       	</div>
      	<div class="health_blend thrive_box_full">
            <div class="content">
              <h3>Digestive <br>Health Blend</h3>
              <p>10 billion live probiotics and enzymes to support healthy digestion, nutrient absorption and regular elimination.</p>
            </div>
      	</div>
     	<div class="added_sugar_btn"><a class="buy-btn opacity" href="#add-item-form-first" title="">BUY NOW</a></div>  
	</div>
</section>
  
<!--product added_sugar section-->
<section id="" class="added_sugar" data-parallax="scroll">
	<div class="container">        
	  <div class="added_sugar_images">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon1.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon2.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon3.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon4.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon5.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon6.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon7.png" alt="">
        <p>No added sugar, No artificial ingredients, Non GMO, No herbicides or pesticides.<br>Registered with The Vegan Society and made in a certified organic facility in the UK</p>
      </div>  
    </div>
</section>

<!--product ingredients section-->
<section id="ingredients" class="ingredients">
	<div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" data-activator="#collapse1" class="collapsed" aria-expanded="false">Nutritional Information</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
            <div class="answer" style="display: block;">
            <div class="container">
              <div class="vanilla-ingredients ingredients-content" id="vanilla-ingredients">
                <table class="ingredients-table vivo-table">
                  <tbody>
                     <tr>
                      <th>Nutritional Values</th>
                      <th>Per 100g</th>
                      <th>Per Serving</th>
                    </tr>
                    <tr>
                      <td>Energy (Kcal)</td>
                      <td>
                        178kcal
                      </td>
                      <td>
                        16kcal
                      </td>
                    </tr>
                    <tr>
                      <td>Protein</td>
                      <td>
                        14g
                      </td>
                      <td>
                        1g
                      </td>
                    </tr>
                    <tr>
                      <td>Carbohydrates</td>
                      <td>
                        36g
                      </td>
                      <td>
                        3g
                      </td>
                    </tr>
                    <tr>
                      <td>- Of which sugars*</td>
                      <td>
                        17.7g
                      </td>
                      <td>
                        1.4g
                      </td>
                    </tr>
                    <tr>
                      <td>Fat</td>
                      <td>
                        1.34g
                      </td>
                      <td>
                        0.1g
                      </td>
                    </tr>
                    <tr>
                      <td>- of which saturates</td>
                      <td>
                        0.35g
                      </td>
                      <td>
                        0.02g
                      </td>
                    </tr>
                    <tr>
                      <td>Sodium</td>
                      <td>
                        0.12g
                      </td>
                      <td>
                        0.01g
                      </td>
                    </tr>                    
                  </tbody>
                </table>
                
                <table class="ingredients-table vivo-table">
                  <tbody>
                    <tr>
                      <th>VITAMINS</th>
                      <th>Per 8g</th>
                      <th>% NVR</th>
                      <th></th>
                      <th>PER 8g</th>
                      <th>% NVR</th>
                      <th></th>
                      <th>PER 8g</th>
                      <th>% NVR</th>
                      <th></th>
                      <th>PER 8g</th>
                      <th>% NVR</th>
                    </tr>
                    <tr>
                      <td>Vitamin A</td>
                      <td>0.7mg</td>
                      <td>100%</td>
                      <td>Vitamin B2</td>
                      <td>1.1mg</td>
                      <td>100%</td>
                      <td>Vitamin B3</td>
                      <td>16mg</td>
                      <td>100%</td>
                      <td>Vitamin B9</td>
                      <td>0.3mg</td>
                      <td>100%</td>
                    </tr>
                    <tr>
                      <td>Vitamin D</td>
                      <td>2,500 IU</td>
                      <td>1250%</td>
                      <td>Vitamin B1</td>
                      <td>1.1mg</td>
                      <td>100%</td>
                      <td>Vitamin B3</td>
                      <td>6mg</td>
                      <td>100%</td>
                      <td>Vitamin B12</td>
                      <td>2.6mcg</td>
                      <td>100%</td>
                    </tr>
                    <tr>
                      <td>Vitamin C</td>
                      <td>90mg</td>
                      <td>100%</td>
                      <td>Vitamin K1</td>
                      <td>0.07mg</td>
                      <td>100%</td>
                      <td>Vitamin B6</td>
                      <td>1.3mg</td>
                      <td>100%</td>                      
                    </tr>
                     <tr>
                      <td>Vitamin E</td>
                      <td>12mg</td>
                      <td>100%</td>
                      <td>Vitamin K2</td>
                      <td>0.07mg</td>
                      <td>100%</td>
                      <td>Vitamin B7</td>
                      <td>0.05mg</td>
                      <td>100%</td>                      
                    </tr>
                  </tbody>
                </table>
                
                <table class="ingredients-table vivo-table">
                  <tbody>
                    <tr>
                      <th>MINERALS</th>
                      <th>Per 8g</th>
                      <th>% NVR</th>
                      <th></th>
                      <th>PER 8g</th>
                      <th>% NVR</th>
                      <th></th>
                      <th>PER 8g</th>
                      <th>% NVR</th>                      
                    </tr>
                    <tr>
                      <td>Chromium</td>
                      <td>0.03mg</td>
                      <td>100%</td>
                      <td>Manganese</td>
                      <td>2mg</td>
                      <td>100%</td>
                      <td>Selenium</td>
                      <td>0.04mg</td>
                      <td>100%</td>
                      <td>NRV = Nutrient</td>
                    </tr>
                    <tr>
                      <td>Copper</td>
                      <td>1.0mg</td>
                      <td>100%</td>
                      <td>Molydenum</td>
                      <td>0.05mg</td>
                      <td>100%</td>
                      <td>Zinc</td>
                      <td>10mg</td>
                      <td>100%</td>
                      <td>Reference Value</td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
              
              <p><strong>INGREDIENTS:</strong><br><strong>Super Greens:</strong> Wheatgrass*, Moringa*, Chlorella*, Spirulina*, <br><br><strong>Super Fruits:</strong> Lucuma*, Baobab*, Camu Camu*, Acai*, </p>
              <p><strong>Female Optimal Health Blend</strong>:  Gotu Kola, Vitamin C (Ascorbic Acid), Vitamin B3 (Nicotinamide), Vitamin E (Mixed Natural Tocopherols), Zinc Bisglycinate, Vitamin B5
(Calcium Pantothenate), Manganese Bisglycinate, Vitamin B6 (Pyridoxal 5-Phosphate), Vitamin B2 (Riboflavin 5-Phosphate), Vitamin B1 (Thiamine
                HCl), Copper Bisglycinate, Beta Carotene, Vitamin B9 (Folic Acid), Vitamin K2 (Menaquinone-7), Vitamin K1 (Phylloquinone), <strong>Vegan Vitamin D3</strong>
                <strong>(Cholecalciferol)</strong>, L-Selenomethionine, Molybdenum Amino Acid Chelate, Vitamin B7 (D-Biotin), Chromium Picolinate, Vitamin B12
                (Methylcobalamin) <strong>Digestion Blend:</strong> Probiotics (B-bifidum, B-longum, L-acidophilus, L-casei, L-plantarum), Malic Acid, Peppermint Leaf*, Konjac
                Fibre, <br><strong>Natural Blueberry Blend:</strong> Natural Berry Flavour, Freeze Dried Blueberries*, Stevia Extract | *Certified Organic
83% Organic Ingredients</p> 
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" data-activator="#collapse2" class="collapsed" aria-expanded="false">How to use</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
          <div class="panel-body">
            <div class="answer" style="display: block;">
            <div class="container">
              <p>Add 1 scoop (8g) to 250ml of water, juice of your favourite smoothie. Enjoy and feel awesome.</p>          
              <p>Store in a cool dry place, once opened keep refrigerated and consume within 60 days. </p>
            </div>
            </div>
          </div>
        </div>
      </div>
	</div> 
</section>

<!--product pros saying section-->
<div class="pros_saying">
    <div class="container">
      <h3>How to use THRIVE</h3>
      <div id="carousel-W_T_PROS_SAY_HOME" class="carousel slide" data-ride="carousel">
        <ul class="carousel-inner" role="listbox">
          <li class="item active">
            <div class="pros_video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/JSS6nmSBQis?ecver=1" frameborder="0" allowfullscreen></iframe>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>

<!--product save_time section-->
<section id="save_time" class="save_time" data-parallax="scroll">
    <div class="container">        
        <h3>SAVE  TIME  &  MONEY</h3>
        <h3><span>Stop wasting your  time and money on an endless<br>list of supplements you don’t need.</span></h3>
        <h4>total cost from £34.99 <span>VS</span> total cost OVER £200.00</h4>
        <div class="save_time_hlaf">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/all_one_time.png" alt="">
             <p>THRIVE provides you with powerful green superfoods, organic fruits, nourishing herbs, probiotics, antioxidants, enzymes, and all of your daily vitamin and mineral needs in less 30 seconds a day for less price of a cup of coffee. </p>
        </div>
        <div class="save_time_hlaf">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/all_one_time2.png" alt="">
            <p>If you were to purchase just some of the individual ingredients at your local health store then you could expect to pay over £200!</p>
        </div>
    </div>
</section>

<!--product guarantee_new section-->
<div class="guarantee_new">
  <div class="container">
    <div class="guarantee-container">
      <div class="stamp">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/money_30.png" class="money-back" alt="Guarantee">
      </div>
      <div class="content">
        <h2>Trust Us</h2>
        <p class="cntnt">We believe in our products so much we offer a <span>30 day money back guarantee</span> on everything we sell. If this product doesn't meet your expectations, simply send it back to us for a full refund. No questions asked. </p>
        <div class="y_image">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_a.png" alt="">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_b.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>