<!--product first section -->
<div class="maca_top">
	<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/page_matcha_top.png" alt="" border="0" />
</div>

<!--product intro section-->
<section id="intro" class="intro vivo-animate">
    <div class="intro-content">
      <div class="container"> 
        <div class="intro-text"> 
          <p><span>QuickLY and easily </span>SUPERCHARGE<br/> your favourite drink<span>, smoothie or <br/>recipe into aN energy boosting <br/>NUtritional POWERHOUSE!</span></p>
          <img class="hide-right" src="https://cdn.shopify.com/s/files/1/1374/7199/files/matcha_passion.png" alt="">
        </div>
        <ul class="buy-btn-container">
          <li><span>30 DAY MONEY <br>BACK GUARANTEE</span> <img class="maca_passion_icon1" src="https://cdn.shopify.com/s/files/1/1374/7199/files/maca_passion_icon1.png" alt="" border="0"></li>
          <li><a href="#add-item-form-first" title="" class="buy-btn opacity">BUY NOW</a></li>
          <li><img class="maca_passion_icon2" src="https://cdn.shopify.com/s/files/1/1374/7199/files/maca_passion_icon2.png" alt="" border="0"><span class="maca_passion_icon2_span"> VERIFIED SECURE <br>CHECKOUT</span></li>
        </ul>
      </div>
    </div>
</section>

<!--product features section-->
<section id="features" class="features parallax-window organic_geletanised" data-parallax="scroll">
    <div class="features-inner">
      <div class="container">
        <header>
          <h2>ORGANIC A GRADE MATCHA POWDER</h2>
        </header>
        <div class="features-container">
          <div class="feature-icons">
            <div class="icon-2 opacity">
              <div class="icon-content">
                <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/organic_matcha1.png" alt="Build" class="icon">

                <h3>ENERGISE</h3>
                <p>Revitalise your body with <br>sustained, long lasting energy</p>
              </div>
            </div>
            <!-- /.icon-2 -->
            <div class="icon-2 opacity">
              <div class="icon-content">
                <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/organic_matcha2.png" alt="Perform" class="icon">

                <h3>INVIGORATE</h3>
                <p>Boost your metabolism <br>and sharpen your mind</p>
              </div>
            </div>
            <div class="icon-2 opacity">
              <div class="icon-content">
                <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/organic_matcha3.png" alt="Recover" class="icon">
                <h3>DETOX</h3>
                <p>Fight back against free radicals <br>and glow with incredible health</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/match_plate_new.png" alt="" class="palate">
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/lig_green.png" alt="" class="lid_greeen">
</section>

<!--product free-from section-->
<section id="free-from" class="upgrade_any">
    <div class="container">
      <h2>Upgrade any of these in just 10 seconds:</h2>
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_green1.png" alt="" class="">
        <h3>Smoothie</h3>
      </div>
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_green2.png" alt="" class="">
        <h3>Protein Shake</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_green3.png" alt="" class="">
        <h3>Tea</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_green4.png" alt="" class="">
        <h3>Cereals</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_green5.png" alt="" class="">
        <h3>Baking</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/any_green6.png" alt="" class="">
        <h3>Sports Drinks</h3>
      </div>  
    </div>
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/upgrade_anymain.png" alt="" class="upgrade_any_main">
</section>

<!--product whatis_organic section -->
<section id="" class="whatis_organic" data-parallax="scroll">
    <div class="container">
      <header>
        <h2>WHAT IS ORGANIC MATCHA ?</h2>
      </header>
      <div class="whatis_organic_content">
        <h3>With 10x the antioxidant power of 'regular' green tea, our organic matcha powder is the perfect way to supercharge your diet in seconds! Matcha contains L-Theanine to boost brain power and  improve concentration, ECGC to promote healthy glowing skin, and  natural metabolism boosting compounds to kickstart fat loss. </h3>
        <h4>It's your all in one nutritional powerhouse!</h4> 
      </div>        
    </div>
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/mug.png" alt="" class="whatis_organic_mug">
</section>

<!--product ingredients section-->
<section id="ingredients" class="ingredients">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" data-activator="#collapse1" class="collapsed" aria-expanded="false">Nutritional Information</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <div class="panel-body"><div class="answer" style="display: block;">
            <div class="container">

              <div class="vanilla-ingredients ingredients-content" id="vanilla-ingredients">
                <table class="ingredients-table vivo-table">                  
                  <tbody>
                    <tr>
                      <th>NUTRITIONAL FACTS</th>
                      <th>Per 100g</th>
                      <th>Per 1g Serving</th>
                    </tr>
                    <tr>
                      <td>Energy</td>
                      <td>362Kcal</td>
                      <td>3.6Kcal</td>
                    </tr>
                    <tr>
                      <td>Fat</td>
                      <td>4.5g</td>
                      <td>0.04g</td>
                    </tr>
                    <tr>
                      <td>- Of which saturates</td>
                      <td>0g</td>
                      <td>0g</td>
                    </tr>
                    <tr>
                      <td>Carbohydrates</td>
                      <td>44.9g</td>
                      <td>0.45g</td>
                    </tr>
                    <tr>
                      <td>- Of which sugars*</td>
                      <td>0g</td>
                      <td>0g</td>
                    </tr>
                    <tr>
                      <td>Protein</td>
                      <td>30.8g</td>
                      <td>0.30g</td>
                    </tr>
                    <tr>
                      <td>Fiber</td>
                      <td>9.3g</td>
                      <td>0.09g</td>
                    </tr>
                    <tr>
                      <td>Sodium</td>
                      <td>0.5g</td>
                      <td>Trace</td>
                    </tr>

                  </tbody>
                </table>                
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" data-activator="#collapse2" class="collapsed" aria-expanded="false">How to use</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
          <div class="panel-body"><div class="answer" style="display: block;">
            <div class="container">
              <p>Add 1g (1/4tsp) to your favourite recipes to supercharge your energy and focus! </p>
              <p>Store in a cool dark place away from direct sunlight.</p>
            </div>
            </div></div>
        </div>
      </div>
    </div> 
</section>

<!--product added_sugar section-->
<section id="" class="added_sugar" data-parallax="scroll">
    <div class="container">        
      <div class="added_sugar_images">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon1.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon2.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon3.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon4.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon5.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon6.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon7.png" alt="">
        <p>No added sugar, No artificial ingredients, Non GMO, No herbicides or pesticides.<br>Registered with The Vegan Society and made in a certified organic facility in the UK</p>
      </div>  
      <div class="added_sugar_btn"><a class="buy-btn opacity" href="#add-item-form-first" title="">BUY NOW</a></div>
    </div>
</section>

<!--product pros_saying section-->
<div class="pros_saying">
    <div class="container">
      <h3>HOW TO USE MATCHA POWDER</h3>
      <div id="carousel-W_T_PROS_SAY_HOME" class="carousel slide" data-ride="carousel">
        <ul class="carousel-inner" role="listbox">
          <li class="item active">
            <div class="pros_video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/I4A9YICo7wo?ecver=1" frameborder="0" allowfullscreen></iframe>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>

<!--product gurantee_new section-->
<div class="guarantee_new">
    <div class="container">
      <div class="guarantee-container">
        <div class="stamp">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/money_30.png" class="money-back" alt="Guarantee">
        </div>
        <div class="content">
          <h2>Trust Us</h2>
          <p class="cntnt">We believe in our products so much we offer a <span>30 day money back guarantee</span> on everything we sell. If this product doesn't meet your expectations, simply send it back to us for a full refund. No questions asked. </p>
          <div class="y_image">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_a.png" alt="">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_b.png" alt="">
          </div>
        </div>
      </div>
    </div>
</div>