<!--product first section-->
<div class="maca_top">
	<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/page_sustain_top.png" alt="" border="0">
</div>
  
<!--product intro section-->
<section id="intro" class="intro vivo-animate">
    <div class="intro-content">
      <div class="container">

        <div class="intro-text">
          <p>SUSTAIN YOUR WORK OUT<span>, REDUCE MUSCLE<br>BREAKDOWN AND RECOVER FASTER ON THE GO <br>WITH</span> FAST ABSORBING<span>, GREAT TASTING<br> 
            VEGAN BCAA POWDER.</span></p>
          <img class="hide-right" src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_passion.png" alt="">
        </div>
        <ul class="buy-btn-container">
          <li><span>30 DAY MONEY <br>BACK GUARANTEE</span> <img class="maca_passion_icon1" src="https://cdn.shopify.com/s/files/1/1374/7199/files/maca_passion_icon1.png" alt="" border="0"></li>
          <li><a href="#add-item-form-first" title="" class="buy-btn opacity">BUY NOW</a></li>
          <li><img class="maca_passion_icon2" src="https://cdn.shopify.com/s/files/1/1374/7199/files/maca_passion_icon2.png" alt="" border="0"><span class="maca_passion_icon2_span"> VERIFIED SECURE <br>CHECKOUT</span></li>
        </ul>
      </div>
    </div>
</section>

<!--product features section-->
<section id="features" class="features parallax-window organic_geletanised" data-parallax="scroll">
    <div class="features-inner">
      <div class="container">
        <header>
          <h2>100% NATURAL PLANT BASED BCAA WITH COCONUT WATER</h2>
        </header>
        <div class="features-container">
          <div class="feature-icons">
            <div class="icon-2 opacity">
              <div class="icon-content">
                <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_sect3_icon1.png" alt="Build" class="icon">

                <h3>STRENGTH</h3>

                <p>Fast absorbing BCAA floods your working muscles to sustain your workout and enhance muscular strength.</p>
              </div>
            </div>
            <!-- /.icon-2 -->
            <div class="icon-2 opacity">
              <div class="icon-content">
                <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_sect3_icon2.png" alt="Perform" class="icon">

                <h3>ENDURANCE</h3>

                <p>The unique combination of BCAA, coconut water and energy boosting baobab are the perfect synergy to help you go harder for longer.</p>
              </div>
            </div>
            <div class="icon-2 opacity">
              <div class="icon-content">
                <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_sect3_icon3.png" alt="Recover" class="icon">
                <h3>HYDRATE</h3>

                <p>Electrolyte rich coconut water powder and pink Himalayan salt rapidly replenish minerals lost through sweat for faster, more efficient hydration. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/dumble.png" alt="" class="dumble"> 
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/shoes.png" alt="" class="palate">    
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/lid.png" alt="" class="lid_greeen">
</section>

<!--product free-from section-->
<section id="free-from" class="upgrade_any">
    <div class="container">
      <h2>NOTHING COMPARES</h2>
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_icon1.png" alt="" class="">
        <h3>Vegan</h3>
      </div>
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_icon2.png" alt="" class="">
        <h3>5g BCAA</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_icon3.png" alt="" class="">
        <h3>No Added Sugar</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_icon4.png" alt="" class="">
        <h3>2:1:1 Ratio</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_icon5.png" alt="" class="">
        <h3>Non GMO</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_icon6.png" alt="" class="">
        <h3>Soy Free</h3>
      </div>
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_icon7png.png" alt="" class="">
        <h3>Electrolytes</h3>
      </div> 
    </div>
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/cap.png" alt="" class="upgrade_any_main">
</section>

<!--product whatis_organic section-->
<section id="whatis_organic" class="whatis_organic" data-parallax="scroll">
    <div class="container">
      <header>
        <h2>WHAT’S INSIDE?</h2>
      </header>
      <div class="whatis_organic_content">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_inside_new.png" alt="" class="">
      </div>        
    </div>
  
</section>    

<!--product box main section-->
<div class="thrive_box_main sustain_box_main" data-parallax="scroll">
    <div class="container">
       <div class="woman_multi thrive_box_full">
            <div class="content">
              <h3>Plant Based BCAA</h3>
              <p>Branched Chain Amino Acids (BCAAs) provide fuel to your working muscles whilst you train, helping to reduce muscle breakdown so that you can train harder for longer. BCAAs are absorbed quickly and get to work in minutes, so are ideal for
use during training to help sustain your performance.</p>
              <p>Unlike most BCAAs on the market, ours are certified vegan and Non GMO, delivering the purest choice for your body.</p>
            </div>
       </div>
      
       <div class="new_zealand thrive_box_left">
            <div class="content">
              <h3>HYDRATION COMPLEX</h3>
              <p>Coconut water is bursting with electrolytes in the perfect ratio for instant hydration, making it the ideal natural sports drink to get you through your toughest workouts. Our coconut water is freeze dried into powder form, ready to activate with water so your body can soak up the goodness. <br/> <br/>
We’ve combined our freeze dried coconut water powder with pure Himalayan salt, which provides 82 different trace minerals to replace everything your body loses as you sweat. </p>
            </div>
       </div>
      
      <div class="indian thrive_box_right">
            <div class="content">
              <h3>NATURAL BLUEBERRY BLEND</h3>
              <p>A delicious tasting blend of freeze dried blueberries, natural blueberry flavour and stevia leaf helps to make SUSTAIN the best tasting BCAA blend on the market without the need for artificial flavours or sweeteners.  </p>
            </div>
       </div>
    </div>
</div>

<!--product added_sugar section-->
<section id="" class="added_sugar" data-parallax="scroll">
    <div class="container">        
      <div class="added_sugar_images">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon1.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon2.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon3.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon4.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon5.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon6.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon7.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_ico9.png" alt="">
        <p>No added sugar, No artificial ingredients, Non GMO, No herbicides or pesticides.<br>Registered with The Vegan Society and made in a certified organic facility in the UK</p>
      </div>  
      <div class="added_sugar_btn"><a class="buy-btn opacity" href="#add-item-form-first" title="">BUY NOW</a></div>
    </div>
</section>

<!--product hydration_part section--->
<section id="" class="hydration_part" data-parallax="scroll">
    <div class="container">        
      <h2>Hydration Gets Serious</h2>
      <h3>SUSTAIN your workout with great tasting <br>BCAA and coconut water powder, naturally <br>flavoured with real baobab fruit and freeze<br>dried blueberries.</h3>
      <h3><span>You’ll love it, or your money back!</span></h3> 
    </div>
</section>

<!--product save_time section-->
<section id="save_time" class="save_time" data-parallax="scroll">
    <div class="container">        
        <h3>NOTHING COMPARES</h3>      
        <div class="save_time_hlaf">
          <h4>SUSTAIN</h4>
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_vs1.png" alt="">
             <ul class="vs_list_one">
                 <li>Plant based BCAA made <br>from sunflower</li>
                 <li>Flavoured with real freeze dried <br>blueberries and baobab fruit</li>
                 <li>Naturally sweetened with stevia</li>
                 <li>Dissolves easily in water for the perfect <br>spots drink</li>
                 <li>Natural electrolytes from coconut water <br>and Himalayan salt</li>
                 <li>Certified 100% vegan by <br>The Vegan Society</li>
             </ul>
        </div>
        <div class="save_time_hlaf">
            <h4><span>VS</span>Conventional BCAAs</h4>
            <img class="bbcc_two" src="https://cdn.shopify.com/s/files/1/1374/7199/files/sustain_vs2.png" alt="">
            <ul class="vs_list_one vs_list_two">
                 <li>Animal source, often <br>derived from horse hair or <br>duck feathers</li>
                 <li>Flavoured with artificial <br>chemicals</li>
                 <li>Artificially sweetened</li>
                 <li>Hard to dissolve in water</li>
                 <li>No electrolytes</li>
                 <li>Not suitable for vegans or <br>vegetarians</li>
             </ul>
        </div>
    </div>
</section>

<!--product ingredients section-->
<section id="ingredients" class="ingredients">
    <div class="panel-group" id="accordion">     
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" data-activator="#collapse2" class="collapsed" aria-expanded="false">WHY USE BCAA?</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
          <div class="panel-body"><div class="answer" style="display: block;">
            <div class="container">
              <h3>WHY USE BCAA?</h3>
              <p>If you’re looking to get more from your training and haven’t tried BCAA then you’re missing a trick!</p>
              <p>The reason it is so popular is because BCAA is <strong>amazing for reducing muscle breakdown, for improving workout recovery, and for sustaining your workout so you can train harder and longer</strong>.</p>
              <p>We all know about the benefits of protein, but did you know that our body breaks down protein into amino acids, which is what our body uses to repair our muscles?</p>
              <p>The three main amino acids our body uses to repair our muscles are known as the Branched Chain Amino Acids, or BCAAs for short. These are:</p>
              <p>•	Leucine<br>•	Isoleucine<br>•	Valine</p>
              <p>These three essential amino acids provide the building blocks for new muscle tissue, helping to prevent against muscle breakdown as we train. This allows us to increase exercise intensity and prolong workout duration.</p>
              <p>And <strong>greater workout intensity + longer workout duration + reduced muscle breakdown</strong> = epic results.</p>
            </div>
            <!-- /.container -->
            </div></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" data-activator="#collapse1" class="collapsed" aria-expanded="false">Nutritional Information</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <div class="panel-body"><div class="answer" style="display: block;">
            <div class="container">

              <div class="vanilla-ingredients ingredients-content" id="vanilla-ingredients">
               <table class="ingredients-table vivo-table">
                  <tbody>
                     <tr>
                      <th>Nutritional Values</th>
                      <th>Per 100g</th>
                      <th>Per 8g Serving</th>
                    </tr>
                    <tr>
                      <td>Energy (Kcal)</td>
                      <td>
                        337kcal
                      </td>
                      <td>
                       27kcal
                      </td>
                    </tr>
                    <tr>
                      <td>Protein</td>
                      <td>
                        63g
                      </td>
                      <td>
                        5g
                      </td>
                    </tr>
                    <tr>
                      <td>Carbohydrates</td>
                      <td>
                        12g
                      </td>
                      <td>
                        0.96g
                      </td>
                    </tr>
                    <tr>
                      <td>- Of which sugars*</td>
                      <td>
                        9.5g
                      </td>
                      <td>
                        0.76g
                      </td>
                    </tr>
                    <tr>
                      <td>Fat</td>
                      <td>
                        4.2g
                      </td>
                      <td>
                        0.3g
                      </td>
                    </tr>
                    <tr>
                      <td>Of which saturates</td>
                      <td>
                        1.34g
                      </td>
                      <td>
                        0.1g
                      </td>
                    </tr>
                    <tr>
                      <td>- of which saturates</td>
                      <td>
                        Trace
                      </td>
                      <td>
                        Trace
                      </td>
                    </tr>
                    <tr>
                      <td>Sodium</td>
                      <td>
                        0.79g
                      </td>
                      <td>
                        0.06g
                      </td>
                    </tr> 
                    <tr>
                      <td>Branched Chain Amino Acid Complex</td>
                      <td></td>
                      <td></td>
                    </tr> 
                    <tr>
                      <td>Leucine</td>
                      <td>
                        31.25g
                      </td>
                      <td>
                        2.50g
                      </td>
                    </tr> 
                    <tr>
                      <td>Isoleucine</td>
                      <td>
                        15.63g
                      </td>
                      <td>
                        1.25g
                      </td>
                    </tr> 
                    
                    <tr>
                      <td>Valine</td>
                      <td>
                        15.63g
                      </td>
                      <td>
                        1.25g
                      </td>
                    </tr> 
                    <tr>                     
                      <td>* Naturally occurring sugars</td>                      
                    </tr> 
                  </tbody>
                </table>
                <p>
                  <strong>INGREDIENTS:</strong><br>
                  <strong>Plant based BCAA Complex</strong>: [L-leucine, L-isoleucine, L-valine],
                  <strong>Hydration Complex</strong>: Baobab Powder, Non Gmo Sunflower Lecithin, Coconut Water Powder, Pink Himalayan Salt,
                  <strong>Natural Blueberry Blend</strong>: Natural Blueberry Flavour, Malic Acid, Freeze Dried Blueberries, Stevia Extract
				</p>
              </div>
            </div>
            <!-- /.container -->
            </div></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" data-activator="#collapse3" class="collapsed" aria-expanded="false">How to use</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse" aria-expanded="false">
          <div class="panel-body"><div class="answer" style="display: block;">
            <div class="container">
              <p>Add 1 scoop (8g) to 250ml water or coconut water. Drink up to 30 minutes before and / or during your workout to sustain performance and minimise muscle breakdown. </p>
              <p>Store in cool, dry place away from direct sunlight, keep out of reach of children. </p>
            </div>
            <!-- /.container -->
            </div></div>
        </div>
      </div>

    </div> 
</section>

<!--product pros_saying section-->
<div class="pros_saying">
    <div class="container">
      <h3>HOW TO USE SUSTAIN</h3>
      <div id="carousel-W_T_PROS_SAY_HOME" class="carousel slide" data-ride="carousel">
        <ul class="carousel-inner" role="listbox">
          <li class="item active">
            <div class="pros_video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/jUC5Zsqdfyw?ecver=1" frameborder="0" allowfullscreen></iframe>
            </div>
          </li>
          <!--<li class="item">
            <div class="pros_video"><iframe src="https://www.youtube.com/embed/BJQ6gdsFeyE?controls=0&amp;showinfo=0" allowfullscreen="" frameborder="0" height="315" width="560"></iframe></div>
          </li>
          <div class="btn_pros_saying">
            <a class="pros_saying_left" href="#carousel-W_T_PROS_SAY_HOME" role="button" data-slide="prev" data-activator="#carousel-W_T_PROS_SAY_HOME"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon1.png" alt="" border="0"></a>
            <a class="pros_saying_right" href="#carousel-W_T_PROS_SAY_HOME" role="button" data-slide="next" data-activator="#carousel-W_T_PROS_SAY_HOME"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon2.png" alt="" border="0"></a>
          </div>-->
        </ul>
      </div>
    </div>
  </div>

<!--product our_customre section -->
<div class="our_customre">
  <div class="container">
    <h3>WHAT OUR CUSTOMERS SAY</h3>
    <div id="carousel-W_O_CUST_SAY_HOME" class="carousel slide" data-ride="carousel">
      <ul class="carousel-inner" role="listbox">
        <li class="item active">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review1.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review2.jpg" alt="" border="0">
        </li>
         <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review3.jpg" alt="" border="0">
        </li>
         <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review4.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review5.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review6.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review7.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review8.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review9.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review10.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review11.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review12.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review13.jpg" alt="" border="0">
        </li>
        <div class="btn_custo">
          <a class="btn_custo_left" href="#carousel-W_O_CUST_SAY_HOME" role="button" data-slide="prev"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon1.png" alt="" border="0"></a>
          <a class="btn_custo_right" href="#carousel-W_O_CUST_SAY_HOME" role="button" data-slide="next"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon2.png" alt="" border="0"></a>
        </div>
      </ul>
    </div>
  </div>
</div>
  
<!--product guarantee_new section-->
<div class="guarantee_new">
  <div class="container">
    <div class="guarantee-container">
      <div class="stamp">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/money_30.png" class="money-back" alt="Guarantee">
      </div>
      <div class="content">
        <h2>Trust Us</h2>
        <p class="cntnt">We believe in our products so much we offer a <span>30 day money back guarantee</span> on everything we sell. If this product doesn't meet your expectations, simply send it back to us for a full refund. No questions asked. </p>
        <div class="y_image">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_a.png" alt="">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_b.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
  
<!--product faq seciton-->
<section id="faq" class="faq">
  <div class="container">
    <h2>FAQ</h2>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" data-activator="#collapse8">
              IS SUSTAIN VEGAN?</a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body">YES! SUSTAIN is made from 100% plant based BCAA, as certified by The Vegan Society.</div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" data-activator="#collapse9">WHAT IS A 2:1:1 RATIO?</a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
          <div class="panel-body">2:1:1 ratio refers to the ratio of Leucine, Isoleucine and Valine, the three branched chain amino acids. A 2:1:1 ratio is widely regarded as the optimum ratio to promote protein synthesis and protect against muscle breakdown.</div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" data-activator="#collapse10">IS BCAA NATURAL?</a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body">
            BCAA is naturally occurring in our bodies and in the foods that we eat. BCAA supplements are made simply by extracting these amino acids from food.
            BCAA is completely safe, and there is no evidence to suggest that there are any adverse health effects from consuming BCAA. 
          </div>
        </div>
      </div>
      
       <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" data-activator="#collapse4">WHAT IS THE DIFFERENCE BETWEEN BCAA AND PROTEIN?</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">When we eat protein, our body breaks it down into amino acids. BCAAs are absorbed much faster because our body does not have to break them down, so can get to work faster when you need it most. Protein is still an essential part of a healthy diet, but BCAAs are optimal for use during training.</div>
        </div>
      </div>
      
    </div> 
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" data-activator="#collapse5">IS SUSTAIN SUITABLE FOR ATHLETES?</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body">Yes, SUSTAIN contains no banned substances and has no side effects. It is ideal for athletes or anyone looking to get more from their training.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" data-activator="#collapse6">IS SUSTAIN GLUTEN FREE?</a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body">Yes, SUSTAIN is 100% gluten free.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" data-activator="#collapse7">CAN I USE SUSTAIN & PERFORM AT THE SAME TIME?</a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body">YES! These two products complement each other perfectly. For best results, we recommend using SUSTAIN during your workouts and PERFORM after. There is no need to take them both together as 5g BCAA is the optimum amount for protein synthesis.</div>
        </div>
      </div>      
    </div>
    <div class="faq_btn"><a href="#add-item-form-first" class="buy-btn" data-activator="#add-item-form-first">Buy Now</a></div>
  </div>
</section>