<!--product first section -->
<div class="maca_top">
	<img src="https://cdn.shopify.com/s/files/1/1374/7199/files/page_maca_top.png" alt="" border="0" />
</div>

<!--product intro section-->
<section id="intro" class="intro vivo-animate">
    <div class="intro-content">
      <div class="container">
        <div class="intro-text">
          <p> 
            Increase your <span>energy</span>, balance your <br/> <span>hormones</span> and upgrade your <span>mood</span> with <br/>the power of maca!
          </p>
          <img class="hide-right" src="https://cdn.shopify.com/s/files/1/1374/7199/files/maca_passion.png" alt="">
        </div>
        <ul class="buy-btn-container">
          <li><span>30 DAY MONEY <br/>BACK GUARANTEE</span> <img class="maca_passion_icon1" src="https://cdn.shopify.com/s/files/1/1374/7199/files/maca_passion_icon1.png" alt="" border="0" /></li>
          <li><a href="#add-item-form-first" title="" class="buy-btn opacity">BUY NOW</a></li>
          <li><img class="maca_passion_icon2" src="https://cdn.shopify.com/s/files/1/1374/7199/files/maca_passion_icon2.png" alt="" border="0" /><span class="maca_passion_icon2_span"> VERIFIED SECURE <br/>CHECKOUT</span></li>
        </ul>
      </div>
    </div>
</section>

<!--product features section-->
<section id="features" class="features parallax-window organic_geletanised" data-parallax="scroll">
    <div class="features-inner">
      <div class="container">
        <header>
          <h2>ORGANIC Gelatinised MACA POWDER</h2>
        </header>
        <div class="features-container">
          <div class="feature-icons">
            <div class="icon-2 opacity">
              <div class="icon-content">
                <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/organic_icon1.png" alt="Build" class="icon">

                <h3>VITALITY</h3>

                <p>
                  Balance your hormones, boost your mood, and even improve your <br/>memory!
                </p>
              </div>
            </div>
            <!-- /.icon-2 -->
            <div class="icon-2 opacity">
              <div class="icon-content">
                <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/organic_icon2.png" alt="Perform" class="icon">

                <h3>POWER</h3>

                <p>
                  Rich in B vitamins, iron and zinc, maca naturally boosts energy levels and endurance without the crash of stimulants.
                </p>
              </div>
            </div>
            <!-- /.icon-2 -->
            <div class="icon-2 opacity">
              <div class="icon-content">
                <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/organic_icon3.png" alt="Recover" class="icon">
                <h3>PASSION</h3>

                <p>
                  Also known as 'Nature's Viagra', Maca is an adaptogen scientifically proven to boost libido and sexual function.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/organic_plate.png" alt="" class="palate">    
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/lid.png" alt="" class="lid_greeen">
</section>

<!--product free-from section-->
<section id="free-from" class="upgrade_any">
    <div class="container">
      <h2>Upgrade any of these in just 10 seconds:</h2>
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/upgrade_any1.png" alt="" class="">
        <h3>Smoothie</h3>
      </div>
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/upgrade_any2.png" alt="" class="">
        <h3>Protein Powder</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/upgrade_any3.png" alt="" class="">
        <h3>Hot Drinks</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/upgrade_any4.png" alt="" class="">
        <h3>Cereals</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/upgrade_any5.png" alt="" class="">
        <h3>Baking</h3>
      </div>  
      <div class="upgrade_any_icon">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/upgrade_any6.png" alt="" class="">
        <h3>Sports Drinks</h3>
      </div>  
    </div>
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/upgrade_anymain.png" alt="" class="upgrade_any_main">
</section>

<!--product whatis_organic section-->
<section id="whatis_organic" class="whatis_organic" data-parallax="scroll">
    <div class="container">
      <header>
        <h2>WHAT IS GELATINISED MACA?</h2>
      </header>
      <div class="whatis_organic_content">
        <h3>Our unique gelatinised maca undergoes a natural gelatinisation process to remove the tough starch molecules, which make maca difficult for the body to absorb. Gelatinised maca is easier to digest, gentler on the endocrine system, and has over FOUR TIMES the nutrients of raw maca!</h3>
        <h4>Gelatinised maca contains NO gelatine! Our maca is 100% vegan friendly <br>as certified by The Vegan Society.</h4> 
        <div class="whatis_organic_logo"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon1.png" alt=""></div> 
      </div>        
    </div>
    <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/mug.png" alt="" class="whatis_organic_mug">
</section>

<!--product ingredients section-->
<section id="ingredients" class="ingredients">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" data-activator="#collapse1" class="collapsed" aria-expanded="false">Nutritional Information</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
          <div class="panel-body"><div class="answer" style="display: block;">
            <div class="container">
              <div class="vanilla-ingredients ingredients-content" id="vanilla-ingredients">
                <table class="ingredients-table vivo-table">                  
                  <tbody>
                    <tr>
                      <th>NUTRITIONAL FACTS</th>
                      <th>Per 100g</th>
                    </tr>
                    <tr>
                      <td>Energy</td>
                      <td>377Kcal</td>
                    </tr>
                    <tr>
                      <td>Protein</td>
                      <td>10g</td>                      
                    </tr>
                    <tr>
                      <td>Carbohydrates</td>
                      <td>75g</td>
                    </tr>
                    <tr>
                      <td>- Of which sugars*</td>
                      <td>25g</td>
                    </tr>
                    <tr>
                      <td>Fat</td>
                      <td>2.2g</td>
                    </tr>
                    <tr>
                      <td>- Of which saturates</td>
                      <td>0g</td>
                    </tr>
                    <tr>
                      <td>Fiber</td>
                      <td>8.5g</td>
                    </tr>
                    <tr>
                      <td>Iron</td>
                      <td>15mg</td>
                    </tr>
                    <tr>
                      <td>Calcium</td>
                      <td>250mg</td>
                    </tr>
                    <tr>
                      <td>Zinc</td>
                      <td>3.8mg</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>* Naturally occurring sugars</td>
                    </tr>
                  </tbody>
                </table>                
              </div>
            </div>
            </div></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" data-activator="#collapse2" class="collapsed" aria-expanded="false">How to use</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" aria-expanded="false">
          <div class="panel-body">
            <div class="answer" style="display: block;">
            <div class="container">
              <p>Add 1 – 2 tsp to your favourite recipes.</p>
              <p>Store in a cool dry place away from sunlight and keep sealed.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
</section>

<!--product added_sugar section-->
<section id="" class="added_sugar" data-parallax="scroll">
    <div class="container">        
      <div class="added_sugar_images">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon1.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon2.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon3.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon4.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon5.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon6.png" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/suger_icon7.png" alt="">
        <p>No added sugar, No artificial ingredients, Non GMO, No herbicides or pesticides.<br>Registered with The Vegan Society and made in a certified organic facility in the UK</p>
      </div>  
      <div class="added_sugar_btn"><a class="buy-btn opacity" href="#add-item-form-first" title="">BUY NOW</a></div>
	</div>
</section>  

<!--product pros_saying section-->
<div class="pros_saying">
    <div class="container">
      <h3>How to use maca!</h3>
      <div id="carousel-W_T_PROS_SAY_HOME" class="carousel slide" data-ride="carousel">
        <ul class="carousel-inner" role="listbox">
          <li class="item active">
            <div class="pros_video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/sp-9mZXMx7c?ecver=1" frameborder="0" allowfullscreen></iframe>
            </div>
          </li>
          <!--<li class="item">
            <div class="pros_video"><iframe src="https://www.youtube.com/embed/BJQ6gdsFeyE?controls=0&amp;showinfo=0" allowfullscreen="" frameborder="0" height="315" width="560"></iframe></div>
          </li>
          <div class="btn_pros_saying">
            <a class="pros_saying_left" href="#carousel-W_T_PROS_SAY_HOME" role="button" data-slide="prev" data-activator="#carousel-W_T_PROS_SAY_HOME"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon1.png" alt="" border="0"></a>
            <a class="pros_saying_right" href="#carousel-W_T_PROS_SAY_HOME" role="button" data-slide="next" data-activator="#carousel-W_T_PROS_SAY_HOME"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon2.png" alt="" border="0"></a>
          </div>-->
        </ul>
      </div>
    </div>
</div> 
  
<!--product our_customre section-->
<div class="our_customre">
  <div class="container">
    <h3>WHAT OUR CUSTOMERS SAY</h3>
    <div id="carousel-W_O_CUST_SAY_HOME" class="carousel slide" data-ride="carousel">
      <ul class="carousel-inner" role="listbox">
        <li class="item active">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review1.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review2.jpg" alt="" border="0">
        </li>
         <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review3.jpg" alt="" border="0">
        </li>
         <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review4.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review5.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review6.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review7.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review8.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review9.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review10.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review11.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review12.jpg" alt="" border="0">
        </li>
        <li class="item">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review13.jpg" alt="" border="0">
        </li>
        <div class="btn_custo">
          <a class="btn_custo_left" href="#carousel-W_O_CUST_SAY_HOME" role="button" data-slide="prev"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon1.png" alt="" border="0"></a>
          <a class="btn_custo_right" href="#carousel-W_O_CUST_SAY_HOME" role="button" data-slide="next"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon2.png" alt="" border="0"></a>
        </div>
      </ul>
    </div>
  </div>
</div>
  
<!--product guarantee_new_section-->
<div class="guarantee_new">
  <div class="container">
    <div class="guarantee-container">
      <div class="stamp">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/money_30.png" class="money-back" alt="Guarantee">
      </div>
      <div class="content">
        <h2>Trust Us</h2>
        <p class="cntnt">We believe in our products so much we offer a <span>30 day money back guarantee</span> on everything we sell. If this product doesn't meet your expectations, simply send it back to us for a full refund. No questions asked. </p>
        <div class="y_image">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_a.png" alt="">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_b.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
