<div id="skt_gc_line_items">
	<input type="hidden" id="skt_gc_slug" name="properties[Customization]" value="" disabled="disabled"/>
	<input type="hidden" id="skt_gc_to" name="properties[To]" value="" disabled="disabled"/>
	<input type="hidden" id="skt_gc_shop_id" value="382" disabled="disabled" />
	<input type="hidden" id="skt_gc_shop_name" value="{{shop.name}}" disabled="disabled" />
</div>
