<div class="thanks-page about_main_page">
   <div class="about_top">
    <div class="container">          
          <h1>Thank You</h1>
          <p>Your order is now being processed. <br >We’ll email you as soon as it has been dispatched.</p>
    </div>  
    </div>
  
  <div class="thanks_top_part">
       <div class="thanks_top_part_text">
         <div class="container">
            <h1>SPREAD THE WORD!</h1>
            <p>Help us get closer to our goal of transforming the health </p>
            <p>and performance of one million people around the world.</p>
         </div>
       </div>
       
       <div class="refer_title">
         <div class="container">
              <h2>1. refer a friend</h2>
         </div>
       </div>
      
        <div class="refer_content">
         <div class="container">
           <div class="friend_program">
               <iframe id="refcandy-candyjar" data-id="p7wb5hevn26x5z2bqa9hpj51u" data-height="700" data-width="100%" frameborder=0></iframe>
               <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//portal.referralcandy.com/assets/widgets/refcandy-candyjar.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","refcandy-candyjar-js");</script>
           </div>
          </div>
         </div> 
       
       <div class="refer_title">
         <div class="container">
              <h2>2. 10 second review</h2>
         </div>
       </div> 
      
        <div class="referafriend">
          <div class="container">
            <div class="container-inner">
              <script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/JzroT1Gy1jkgj2ysaNWZcwUxRcI85wmo0IecFvEm/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>
              <div id='yotpo-testimonials-custom-tab'></div>
            </div>
          </div>  
        </div>    
     </div> 
  
  <div class="refer_title">
         <div class="container">
              <h2>3. Get social</h2>
         </div>
  </div> 
  
  <div class="get_social_content">
    <div class="container">
         <p>Join our tribe on social media for our best tips, recipes and competitions</p>
         <ul class="get_social_icon">
             <li><a target="_blank" href="https://twitter.com/vivolifeuk"><img alt="" src="https://cdn.shopify.com/s/files/1/1374/7199/files/thanks_social1.png"></a></li>
             <li><a target="_blank" href="https://www.facebook.com/vivolifeuk"><img alt="" src="https://cdn.shopify.com/s/files/1/1374/7199/files/thanks_social2.png"></a></li>
             <li><a target="_blank" href="https://m.youtube.com/channel/UCtUDTdAJ62_To-hf1uvNn5g"><img alt="" src="https://cdn.shopify.com/s/files/1/1374/7199/files/thanks_social3.png"></a></li>
             <li><a target="_blank" href="http://instagram.com/vivolifeuk"><img alt="" src="https://cdn.shopify.com/s/files/1/1374/7199/files/thanks_social4.png"></a></li>
         </ul>
      
      <div class="images_blog">
          <a href="https://www.vivolife.co.uk/blogs/recipes"><img alt="" src="https://cdn.shopify.com/s/files/1/1374/7199/files/recipes_thanks1.png"></a>
          <a href="https://www.vivolife.co.uk/blogs/news"><img alt="" src="https://cdn.shopify.com/s/files/1/1374/7199/files/recipes_thanks2.png"></a>
      </div>
    </div>
  </div> 
  
  <section class="our_mission_thanks">
    <img class="street_games" alt="" src="https://cdn.shopify.com/s/files/1/1374/7199/files/street_games.png"> 
    <div class="container">
         <h2>OUR MISSION</h2>
         <p>We’re on a mission to improve the health and performance of ONE MILLION PEOPLE around the world.</p>
         <p>This may sound crazy, but isn’t that what they say about all the best ideas?</p>
         <p>Being strong, sexy, healthy, fearless and confident shouldn’t be a challenge.</p>
         <p>We believe that EVERYBODY has a RIGHT to be all of these things, and so much more too.</p>
         <p>What’s more, we’ll give 20p of EVERY SALE to Streetgames, to help inspire the next generation to be active and vibrant too.</p>
    </div>  
  </section>
  
  <section class="container-full top-picks">
    <div class="container">      
      <section class="insta-area">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div id="sb_instagram" class="sbi sbi_col_4" data-options="{"showcaption": "1", "captionlength": "50", "captioncolor": "", "captionsize": "13", "showlikes": "1", "likescolor": "", "likessize": "13", "sortby": "none", "hashtag": "vivolifeuk, gopeform", "type": "hashtag", "hovercolor": "0,0,0", "hovertextcolor": "0,0,0", "hoverdisplay": "username,icon,date,instagram,", "hovereffect": "fade", "headercolor": "", "headerprimarycolor": "517fa4", "headersecondarycolor": "eeeeee", "disablelightbox": "false", "disablecache": "false", "location": "", "coordinates": "", "maxrequests": "5", "headerstyle": "circle", "showfollowers": "true", "showbio": "true", "carousel": "[false, false, true, false, 5000]", "imagepadding": "5", "imagepaddingunit": "px", "media": "all", "includewords": "", "excludewords": "", "sbiCacheExists": "true", "sbiHeaderCache": "false"}" data-cols="4" data-res="auto" data-num="10" data-id="1531380795" style="width:100%; padding-bottom: 10px; "> <div style="padding: 5px 10px; margin-bottom: 10px;" class="sb_instagram_header sbi_feed_type_hashtag sbi_header_type_generic"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><div class="sbi_header_text"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><h3 class="sbi_no_bio"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><a target="_blank" href="https://instagram.com/explore/tags/vivolifeuk">#vivolifeuk&nbsp;</a><a target="_blank" href="https://instagram.com/explore/tags/gopeform">#gopeform&nbsp;</a></h3></div><div class="sbi_header_img"><div class="sbi_header_hashtag_icon"><i class="sbi_new_logo"></i></div></div>
                </div> </div>
              <!-- SnapWidget -->
              <script src="https://snapwidget.com/js/snapwidget.js"></script>
              <iframe src="https://snapwidget.com/embed/219018" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>   
            </div>
          </div>
        </div>
      </section>    
    </div>
  </section>
  
  <div class="about_yellow_part">
    <div class="container">
      <h2>Join us, and thousands of happy customers worldwide looking and feeling better than ever whilst you save money, save time, and save the planet.</h2>
    </div>  
  </div>
  
  <div class="pros_saying">
  <div class="container">
    <h3>What The Pros Are Saying</h3>
    <div id="carousel-W_T_PROS_SAY_HOME" class="carousel slide" data-ride="carousel">
      <ul class="carousel-inner" role="listbox">
        <li class="item active"> 
          <div class="pros_video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FNOQqAuOBz4?ecver=1" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
        <!--<li class="item">
          <div class="pros_video"><iframe width="560" height="315" src="https://www.youtube.com/embed/BJQ6gdsFeyE?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe></div>
        </li>
        <div class="btn_pros_saying">
          <a class="pros_saying_left" href="#carousel-W_T_PROS_SAY_HOME" role="button" data-slide="prev"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon1.png" alt="" border="0" /></a>
          <a class="pros_saying_right" href="#carousel-W_T_PROS_SAY_HOME" role="button" data-slide="next"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon2.png" alt="" border="0" /></a>
        </div>-->
      </ul>
    </div>
  </div>
</div>
  
  <div class="guarantee_new">
  <div class="container">
    <div class="guarantee-container">
      <div class="stamp">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/money_30.png" class="money-back" alt="Guarantee">
      </div>
      <!-- /.stamp -->
      <div class="content">
        <h2>Trust Us</h2>
        <p class="cntnt">We believe in our products so much we offer a <span>30 day money back guarantee</span> on everything we sell. If this product doesn't meet your expectations, simply send it back to us for a full refund. No questions asked. </p>
        <div class="y_image">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_a.png" alt="">
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_b.png" alt="">
        </div>
      </div>
      <!-- /.content -->
    
    </div>
  </div>
  </div>

</div>

<style>
  .container span {
    font-family: verdana;
  }
</style>