<div class="about_main_page">
  <div class="about_top">
    <div class="container">
      <p>VIVO LIFE</p>
      <h1>ABOUT US</h1>
    </div>  
  </div>

  <div class="about_how_many">    
    <img class="about_side1" src="https://cdn.shopify.com/s/files/1/1374/7199/files/about_side1.png" alt="" border="0">
    <img class="about_side2" src="https://cdn.shopify.com/s/files/1/1374/7199/files/about_side2.png" alt="" border="0"> 
    <div class="container">
      <h1>How many times have you felt let down after buying yet another health supplement that doesn’t work?</h1>
      <p>How many times have you wasted your money on pills, powders and potions that don’t deliver the results they promise on the packaging?</p>
      <p>We know EXACTLY how you feel because we’ve been there ourselves. Which is why we’re doing things a little differently.</p>
      <div class="about_all_product"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/about_all_product.png" alt="" border="0"></div>
    </div> 
  </div>

  <div class="about_got_back">
    <img class="about_side3" src="https://cdn.shopify.com/s/files/1/1374/7199/files/about_upside3.png" alt="" border="0">
    <img class="about_side4" src="https://cdn.shopify.com/s/files/1/1374/7199/files/about_side4.png" alt="" border="0"> 
    <div class="container">
      <p>Here at Vivo we don’t believe that being healthy should be confusing, expensive or complicated. </p>
      <p>We believe that EVERYBODY has a right to be strong, sexy, healthy, fearless and confident. So we’ve made it our mission to make this as simple as possible.</p>
      <p>If you want to get more from your body, to look and feel awesome every day, to perform at your highest level and take on whatever the world throws at you… you’ve come to the perfect place. </p>
      <p>If you’re looking for 100% natural, plant based health products that you can really trust, <a href="#">we’ve got your back.</a></p>
    </div>
  </div>

  <div class="about_shoping_vivo">
    <img class="about_side5" src="https://cdn.shopify.com/s/files/1/1374/7199/files/about_side_up5.png" alt="" border="0">
    <img class="about_side6" src="https://cdn.shopify.com/s/files/1/1374/7199/files/about_side6.png" alt="" border="0"> 
    <div class="container">   
      <p>Shopping with Vivo means <span>NO</span> nasty additives, <span>NO</span> false promises, and <span>NO</span> overpriced pill popping. Just safe, natural, real food ingredients that really work.</p>
      <h2>Which is why all of our products are:</h2>
      <ul>
        <li>100% plant based and cruelty free</li>
        <li>Made with real food ingredients</li>
        <li>Free from additives, preservatives, colours, fillers and binders</li>
        <li>Results driven and backed by science</li>
        <li>Made in the UK</li>
        <li>Organic and Vegan Certified </li>
        <li>Delivered straight to your door via carbon neutral delivery.</li>
      </ul>
    </div>  
  </div>

  <div class="about_boxing_men">
    <div class="container">
      <div class="about_boxing_text">
        <p>So, if you’re ready to say goodbye to expensive, confusing and time consuming supplements you don’t need…</p>
        <p>And if you’re ready to start living your best life whilst unlocking your true health and fitness potential…</p>
        <h2>Then we want to help you.</h2> 
        <p>As part of the Vivo Life tribe we promise to do everything we can to help you reach your goals in record time.</p>
        <p>We promise to provide the very best tools, guidance, information and inspiration to help you unlock the healthiest, happiest, highest performing version of yourself.</p>
        <p>And we promise to continue creating the best plant based health and fitness products the world has ever seen.
        </p>
      </div>
      <div class="about_boxing_image"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/about_boxing_man_1aeb8d30-8189-43f9-a24f-ea410c2ab1b5.png" alt="" border="0"></div>       
    </div>  
  </div>

  <div class="about_yellow_part">
    <div class="container">
      <h2>Join us, and thousands of happy customers worldwide looking and feeling better than ever whilst you save money, save time, and save the planet.</h2>
    </div>
    <a href="https://www.vivolife.co.uk/pages/step-1" class="buy-btn" data-activator="#flavours-buy">Start Here</a>
  </div>

  <div class="our_customre">
    <div class="container">
      <h3>WHAT OUR CUSTOMERS SAY</h3>
      <div id="carousel-W_O_CUST_SAY_HOME" class="carousel slide" data-ride="carousel">
        <ul class="carousel-inner" role="listbox">
          <li class="item active">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review1.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review2.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review3.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review4.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review5.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review6.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review7.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review8.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review9.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review10.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review11.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review12.jpg" alt="" border="0">
          </li>
          <li class="item">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/review13.jpg" alt="" border="0">
          </li>
          <div class="btn_custo">
            <a class="btn_custo_left" href="#carousel-W_O_CUST_SAY_HOME" role="button" data-slide="prev"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon1.png" alt="" border="0"></a>
            <a class="btn_custo_right" href="#carousel-W_O_CUST_SAY_HOME" role="button" data-slide="next"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon2.png" alt="" border="0"></a>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="pros_saying">
    <div class="container">
      <h3>What do you think of Vivo?</h3>
      <div id="carousel-W_T_PROS_SAY_HOME" class="carousel slide" data-ride="carousel">
        <ul class="carousel-inner" role="listbox">
          <li class="item active">
            <div class="pros_video"><iframe width="560" height="315" src="https://www.youtube.com/embed/FNOQqAuOBz4?ecver=1" frameborder="0" allowfullscreen></iframe></div>
          </li>
          <!--<li class="item">
<div class="pros_video"><iframe src="https://www.youtube.com/embed/BJQ6gdsFeyE?controls=0&amp;showinfo=0" allowfullscreen="" frameborder="0" height="315" width="560"></iframe></div>
</li>
<div class="btn_pros_saying">
<a class="pros_saying_left" href="#carousel-W_T_PROS_SAY_HOME" role="button" data-slide="prev" data-activator="#carousel-W_T_PROS_SAY_HOME"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon1.png" alt="" border="0"></a>
<a class="pros_saying_right" href="#carousel-W_T_PROS_SAY_HOME" role="button" data-slide="next" data-activator="#carousel-W_T_PROS_SAY_HOME"><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/customer_icon2.png" alt="" border="0"></a>
</div>-->
        </ul>
      </div>
    </div>
  </div>

  <div class="guarantee_new">
    <div class="container">
      <div class="guarantee-container">
        <div class="stamp">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/money_30.png" class="money-back" alt="Guarantee">
        </div>
        <!-- /.stamp -->
        <div class="content">
          <h2>Trust Us</h2>
          <p class="cntnt">We believe in our products so much we offer a <span>30 day money back guarantee</span> on everything we sell. If this product doesn't meet your expectations, simply send it back to us for a full refund. No questions asked. </p>
          <div class="y_image">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_a.png" alt="">
            <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/yellow_b.png" alt="">
          </div>
        </div>
        <!-- /.content -->

      </div>
    </div>
  </div>


</div>