<div class="step_content_bg step_page_padding">
  <div class="container">
    <div class="col-xs-12 col-md-12 col-sm-12"> 
      {{ page.content }}

      <div class="step_part">	
        <h1><span>2.</span> WHICH DO YOU <br/>WANT TO IMPROVE</h1>
        <a href="https://www.vivolife.co.uk/pages/step-3">
          <div class="second_page_btn">
            <h3>FITNESS & <br/>PERFORMANCE</h3>
            <ul class="list_step_text">
                <li>Train harder</li>
                <li>Recover Faster</li>
                <li>Build Muscle</li>
            </ul>
          </div>
        </a>
        <a href="https://www.vivolife.co.uk/pages/step-3-thrive-him">
          <div class="second_page_btn">
            <h3>Health <br/>& Lifestyle</h3>
            <ul class="list_step_text">
                <li>Boost Energy</li>
                <li>Enhance Focus</li>
                <li>Optimise Health</li>
            </ul>
          </div>
        </a>
      </div>

    </div>  
  </div>
  <div class="fix_progress"> 
    <div id="myProgress"><div id="myBar"></div><img src="https://cdn.shopify.com/s/files/1/1374/7199/files/progress_bar.png" alt="" border="0" /></div>
    <div class="step_part"><a href="https://www.vivolife.co.uk/pages/step-3" class="step_next_btn" > NEXT</a></div>
  </div>  
</div>