<div class="refer-header" id="refer">
  <div class="refer-titles">
    <section class="container-full">
      <div class="container">
        <div class="col-xs-12 col-md-12 col-sm-12"> 
          {{ page.content }}
        </div>
      </div>
    </section>
    <section style="background:#fff;" class="content-section our-mission-section">
      <div class="container">
        <section class="coming-soon-header">
          <header class="section-heading">
            <h1>OUR MISSION</h1>
          </header>
        </section>
        <!-- protein-header -->
        <section class="description-section">
          <div class="container">
            <div class="description-text">
              <div class="lc">
                <p style="text-align: center;"><span style="font-size: 14pt;">We’re on a mission to improve the health and performance of ONE MILLION PEOPLE around the world.</span></p>
                <p style="text-align: center;"><span style="font-size: 14pt;">This may sound crazy, but isn’t that what they say about all the best ideas?</span></p>
                <p style="text-align: center;"><span style="font-size: 14pt;">Being strong, sexy, healthy, fearless and confident shouldn’t be a challenge.</span></p>
                <p style="text-align: center;"><span style="font-size: 14pt;">We believe that EVERYBODY has a RIGHT to be all of these things, and so much more too.</span></p>
                <p style="text-align: center;"><span style="font-size: 14pt;">We created <strong>PERFORM</strong> to help you get there faster.</span></p>
                <p style="text-align: center;"><span style="font-size: 14pt;">What’s more, we’ll give 20p of EVERY SALE to <strong>Streetgames,</strong>&nbsp;t</span><span style="font-size: 14pt;">o help inspire the next generation to be active and vibrant too.</span></p>
              </div>
            </div>
          </div>   
          <!-- /.container -->
        </section>
      </div>
    </section>
    <section data-image-src="https://www.vivolife.co.uk/wp-content/themes/vivo/images/landing-page/sustain-bg.jpg" data-parallax="scroll" class="sustain parallax-window" id="sustain">
      <div class="container">


        <div class="image-container">
          <img alt="Clouds" class="clouds spin2" src="//cdn.shopify.com/s/files/1/1374/7199/files/clouds_272967a4-e349-4229-b266-f9dde461557b.png">
          <img alt="Earth" class="earth spin" src="//cdn.shopify.com/s/files/1/1374/7199/files/earth_7704899b-35b7-4569-97e4-6e2cc1ee2c54.png">
          <img class="charity-icon" alt="Charity" src="//cdn.shopify.com/s/files/1/1374/7199/files/charity-button2_29370477-9b74-40ba-bd32-356ab321799d.png">
          <img class="recycle-icon" alt="Recycling" src="//cdn.shopify.com/s/files/1/1374/7199/files/recycle-icon_3a2d0a0b-2af6-4001-b372-732c7f7d72ae.png">
          <div class="recyclable">
            <h3>Recyclable Packaging</h3>

            <p>Our packaging is 100% recyclable, BPA free, and delivered in eco-friendly delivery boxes.</p>
          </div>
          <!-- /.recyclable -->
          <div class="charity">
            <h3>We Give 20p Of Each Sale To StreetGames.</h3>

            <p>Helping to change the lives of young people through the power of sport.
              www.streetgames.org</p>
          </div>
          <!-- /.charity -->
        </div>
        <!-- /.image-container -->

        <div class="image-container-rep">
          <div class="earth_cloud">
            <img style="position:absolute;" src="//cdn.shopify.com/s/files/1/1374/7199/files/clouds_272967a4-e349-4229-b266-f9dde461557b.png" class="clouds spin2" alt="Clouds">
            <img src="//cdn.shopify.com/s/files/1/1374/7199/files/earth_7704899b-35b7-4569-97e4-6e2cc1ee2c54.png" class="earth spin" alt="Earth">
          </div>
          <div class="charity-rep">
            <img alt="Charity" src"//cdn.shopify.com/s/files/1/1374/7199/files/charity-button2_29370477-9b74-40ba-bd32-356ab321799d.png">
            <h3>We Give 20p Of Each Sale To StreetGames.</h3>
            <p>Helping to change the lives of young people through the power of sport.
              www.streetgames.org</p>
          </div>
          <!-- /.charity -->

          <div class="recyclable-rep">
            <img alt="Recycling" src="//cdn.shopify.com/s/files/1/1374/7199/files/recycle-icon_3a2d0a0b-2af6-4001-b372-732c7f7d72ae.png">
            <h3>Recyclable Packaging</h3>
            <p>Our packaging is 100% recyclable, BPA free, and delivered in eco-friendly delivery boxes.</p>
          </div>
          <!-- /.recyclable -->

        </div>
        <!-- /.image-container -->

      </div>
      <!-- /.container -->
    </section>
    <section class="container-full top-picks">
      <div class="container">
        <div class="container-inner">
          <h2>Join the movement now!</h2>
          <div class="dotted-line"></div>
        </div>
        <section class="insta-area">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="sb_instagram" class="sbi sbi_col_4" data-options="{"showcaption": "1", "captionlength": "50", "captioncolor": "", "captionsize": "13", "showlikes": "1", "likescolor": "", "likessize": "13", "sortby": "none", "hashtag": "vivolifeuk, gopeform", "type": "hashtag", "hovercolor": "0,0,0", "hovertextcolor": "0,0,0", "hoverdisplay": "username,icon,date,instagram,", "hovereffect": "fade", "headercolor": "", "headerprimarycolor": "517fa4", "headersecondarycolor": "eeeeee", "disablelightbox": "false", "disablecache": "false", "location": "", "coordinates": "", "maxrequests": "5", "headerstyle": "circle", "showfollowers": "true", "showbio": "true", "carousel": "[false, false, true, false, 5000]", "imagepadding": "5", "imagepaddingunit": "px", "media": "all", "includewords": "", "excludewords": "", "sbiCacheExists": "true", "sbiHeaderCache": "false"}" data-cols="4" data-res="auto" data-num="10" data-id="1531380795" style="width:100%; padding-bottom: 10px; "> <div style="padding: 5px 10px; margin-bottom: 10px;" class="sb_instagram_header sbi_feed_type_hashtag sbi_header_type_generic"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><div class="sbi_header_text"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><h3 class="sbi_no_bio"><a class="sbi_header_link" target="_blank" href="https://instagram.com/explore/tags/vivolifeuk"></a><a target="_blank" href="https://instagram.com/explore/tags/vivolifeuk">#vivolifeuk&nbsp;</a><a target="_blank" href="https://instagram.com/explore/tags/gopeform">#gopeform&nbsp;</a></h3></div><div class="sbi_header_img"><div class="sbi_header_hashtag_icon"><i class="sbi_new_logo"></i></div></div>
                  </div> </div>
                <!-- SnapWidget -->
                <script src="https://snapwidget.com/js/snapwidget.js"></script>
                <iframe src="https://snapwidget.com/embed/219018" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>   
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>


<style>
  .refer-header h1 {
    font-family: "garagegothic-boldregular";
    font-size: 4.8em;
    padding-bottom: 10px;
    text-transform: none;
  }
  .refer-titles {
    padding: 50px 0;
    text-align: center;
  }
  .container span {
    font-family: verdana;
  }
  #refer .top-picks h2 {
    color: #2f2f31;
    font-family: "garagegothic-boldregular";
    font-size: 120px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  .top-picks h2 {
    color: #2f2f31 !important;
  }
</style>
<script>
  $('.menus_for_mobile').hide();
  $('.mobile_search').hide();
  var cnt = 1;
  $('.swell-embedded-popup').bind("DOMSubtreeModified",function(){
    if(cnt == 1 )
    {
	    setInterval(function(){ $('.swell-embedded-popup *').removeAttr("style"); }, 500);
      	cnt++;
    }
  });
</script>