<div class="ourplanet_page">
  <section class="ourplanet_disc">
      <div class="container">
        <h1>Here at Vivo we believe that incredible health and outstanding customer service shouldn’t cost the earth.</h1>
        <p>And with climate change becoming very much a reality, we think it is important to do everything we can to reduce our impact on the environment to preserve the natural beauty of our earth for future generations.</p>
        <p>Our planet is at the centre of everything we do, providing us with our home, resources, energy, food, water and life force. Which is why we are doing our bit to protect it in every way we can.</p>
      </div>
  </section>
  
  <section class="working_perfect">
      <div class="container">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/ourplanet_aroow1.png" class="ourplanet_aroow1" alt="">
        <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/ourplanet_aroow2.png" class="ourplanet_aroow2"ourplanet_aroow2 alt="">
        <h1>Here are some of the ways in which we are working to protect our environment:</h1>
        <ul>
          <li>
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/ourplanet_icon1.png" alt=""> 
             <p>All of our cardboard, paper, wood, metal, glass and plastic is recycled via Green Recycling.</p>
          </li>
           <li>
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/ourplanet_icon2.png" alt=""> 
             <p>We send all orders out in boxes made from 100% recycled card. We use 100% biodegradable eco fill made from corn starch in our boxes to protect our products.</p>
          </li>
           <li>
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/ourplanet_icon3.png" alt=""> 
             <p>All of our product packaging is fully recyclable and BPA free</p>
          </li>
           <li>
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/ourplanet_icon4.png" alt=""> 
             <p>All of our ingredients are organically grown wherever possible, without the use of herbicides and pesticides which can be damaging to our environment. All of our products are made from 100% plant based sources to minimise the impact made from animal agriculture.</p>
          </li>
           <li>
             <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/ourplanet_icon5.png" alt=""> 
             <p>Vivo Life are proud to be a Certified Carbon Neutral Company. We achieve this by offsetting our limited carbon emissions to Natural Capital Partners, who re-invest these donations into projects supporting renewable energy around the world. </p>
          </li>
        </ul>
      </div>
  </section> 
  
  <section id="sustain" class="sustain parallax-window" data-parallax="scroll">
  <div class="container">
    <div class="text_working_round">
      <h1>Working together with <span>Natural Capital</span> Partners, we are proud to offset 100% of our carbon emissions resulting from:</h1>
      <ul>
         <li>All of our vehicles travelling to and from work and off site meetings</li>
         <li>All electricity used to power our office</li>
         <li>All emissions resulting from deliveries we send in the post</li>
         <li>All non-recyclable waste we dispose of via conventional waste management.</li>
      </ul> 
    </div> 
    <div class="image-container">
      <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/clouds.png?14155632147365779531" class="clouds spin2" alt="Clouds">
      <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/earth.png?14155632147365779531" class="earth spin" alt="Earth">
      <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/carbon-neutral-comapny-circle.png?1801190201418875947" alt="Charity" class="charity-icon">
      <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/recycle-icon.png?14155632147365779531" alt="Recycling" class="recycle-icon">
    </div>
  </div>
  <!-- /.container -->
</section>
  
  <section class="changing_text">
   <div class="container">
        <h2>Changing the world's attitude to climate change and healing our planet will not happen overnight, but the more we all start to stand up and do our bit, the faster word will spread and the greater our impact will become.</h2>
        <h2>Let’s work together to support a brighter, cleaner, greener future for our planet.</h2>
     <div class="changing_logo">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/changing_logo1.jpg" alt="">
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/changing_logo2.jpg" alt=""> 
          <img src="https://cdn.shopify.com/s/files/1/1374/7199/files/changing_logo3.jpg" alt=""> 
     </div>
    </div>
  </section>  
</div>